@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #blogclass {
    h1 {
      @apply text-4xl;
      margin-bottom: 5px;
      margin-top: 30px;
      font-weight: 600;
    }
    h2 {
      margin-bottom: 5px;
      margin-top: 25px;
      font-weight: 500;
      @apply text-3xl;
    }
    h3 {
      /* margin-bottom: 5px; */
      margin-top: 20px;
      font-weight: 500;
      @apply text-xl;
    }

    img {
      @apply rounded;
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    strong {
      font-weight: 600;
    }

    a {
      color: #030303;
      text-shadow:
        0 0 7px #0b6645,
        0 0 10px #1a9351,
        0 0 21px #537fee,
        0 0 42px #a54444,
        0 0 82px #8f5050,
        0 0 92px #ba9090,
        0 0 102px rgb(140, 211, 241),
        0 0 151px rgb(148, 181, 207);
    }

    a:hover {
      color: #030303;
      /* reverse text shadow when hovered */
      text-shadow:
        0 0 7px rgb(153, 247, 3),
        0 0 10px rgb(3, 249, 36),
        0 0 21px #508806,
        0 0 42px #27ca65,
        0 0 82px #013a63,
        0 0 92px #68069c,
        0 0 102px #6c0448,
        0 0 151px #250112;
    }

    li {
      padding-left: 20px;
    }

    ul {
      list-style: disc;
      margin: 0;
      padding-left: 20px;
    }

    ul ul {
      list-style-type: circle;
    }

    ul ul ul {
      list-style-type: square;
    }

    ul ul ul ::marker {
      font-size: 0.8rem;
    }
  }
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3730a3;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.copy-code:hover {
  background-color: #312e81;
}

code {
  background-color: #27292f;
  border: rgb(95, 97, 95) 1px solid;
  color: #bbbbbb;
  padding: 0 0.5rem;
}
