@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 5px;
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  #blogclass * {
    a {
      color: #030303;
      text-shadow:
        0 0 7px #0b6645,
        0 0 10px #054723,
        0 0 21px #013511,
        0 0 42px #901818,
        0 0 82px #760c0c,
        0 0 92px #860606,
        0 0 102px rgb(1, 7, 5),
        0 0 151px rgb(0, 8, 5);
    }

    li {
      padding-left: 20px;
    }

    ul {
      list-style: disc;
      margin: 0;
      padding-left: 20px;
    }

    ul ul {
      list-style-type: circle;
    }

    ul ul ul {
      list-style-type: square;
    }

    ul ul ul ::marker {
      font-size: 0.8rem;
    }
  }
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3730a3;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.copy-code:hover {
  background-color: #312e81;
}

code {
  background-color: #07090f;
  color: #bbbbbb;
}
