
---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
import Team from "../components/Team.astro"
import Hero from "../components/Hero.astro"
---

<Layout title="Welcome to Birendra Open Source Club.">
  <main class="space-y-20">
    <Container>
      <Hero 
        title="If we don't? Who will?" 
        subtitle="Birendra Open Source Club conducts activities on a monthly basis, bringing students together with mentors and giving everyone an equal chance at skills development and networking."
        imageSrc="/cover.jpg"
      />
    </Container>
    <Team />
  </main>
</Layout>
