---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import TopEvents from "../components/TopEvent.astro"
import Contact from "../components/Contact.astro"
import Project from "../components/Project.astro"
import FeaturedBlog from "../components/FeaturedBlog.astro"
---

<Layout title="Positivus">
  <main class="space-y-20">
    <Hero />
    <TopEvents />
    <Project />
    <FeaturedBlog />
    <Contact />
  </main>
</Layout>
