---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Jobs and Opportunities">
  <main class="space-y-20"></main>
  <Container>
    <div>
      <h1>Jobs and Opportunities</h1>
      <h2>
        Opportunities in Civil Service Department based on the field and the
        facutlty of your studies. <br /> CSIT, BIT, BCA, CS, CE, SE ...
      </h2>
      <p>This page is under construction. Please check back later.</p>
    </div>
  </Container>
</Layout>
