---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Mentorship Program"
  description="BOSC is ready to launch its Mentorship Program 2025. Stay tuned for more updates."
  image="https://bosc.org.np/team.jpg"
  url="https://bosc.org.np/mentorship"
>
  <main class="space-y-20">
    <Container>
      <div>
        <h2>BOSC Mentorship 2025</h2>
        <p>COMING SOON !!!</p>
        <br />
        <br />
      </div>
    </Container>
  </main>
</Layout>
