---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mentorship Program">
  <main class="space-y-20">
    <Container>
      <div>
        <h2>BOSC Mentorship 2024</h2>
        <p>COMING SOON !!!</p>
        <br />
        <br />
      </div>
    </Container>
  </main>
</Layout>
