---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Notes">
  <main class="space-y-20">
    <Container>
      <div>
        <h2>
          NOTES from <br /> CSIT, BIT, BCA, and BICTE.
        </h2>
        <p>This page is under construction. Please check back later.</p>
        <br /><h1>
          WE NEED YOUR HELP!!! <a
            class="text-zinc-900 border border-lime"
            href="https://github.com/b0sc/b0sc.github.io/issues/16"
            >Contribute here https://github.com/b0sc/b0sc.github.io/issues/33</a
          >
        </h1>
        <br />
      </div>
    </Container>
  </main>
</Layout>
