---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="IT Notes and Roadmap"
  description="BOSC's Official Website. Read IT Notes and Blogs. Get Jobs, Opportunities. Join Events and Mentorship Programs. Created by Open Source Enthusiasts from Nepal."
  image="https://bosc.org.np/team.jpg"
  url="https://bosc.org.np/notes"
>
  <main class="space-y-20">
    <Container>
      <div>
        <h2>
          NOTES from <br /> CSIT, BIT, BCA, and BICTE.
        </h2>
        <p>This page is under construction. Please check back later.</p>
        <br /><h1>
          WE NEED YOUR HELP!!! Contribute here <a
            class="text-zinc-900 border border-lime"
            href="https://github.com/b0sc/b0sc.github.io/issues/33"
            >https://github.com/b0sc/issues/33</a
          >
        </h1>
        <br />
      </div>
    </Container>
    <Container>
      <div>
        <h1>Opportunities</h1>
        <h2>International Opportunities in IT field.</h2>
        <a class="text-zinc-900 border border-lime" href="/blogs#opportunities"
          >Explore here</a
        >
        <br />
      </div>
    </Container>
    <Container>
      <div>
        <h1>Roadmap</h1>
        <h2>
          Path to get jobs in Civil Service Department based on the field and
          the facutlty of your studies. <br /> CSIT, BIT, BCA
        </h2>
        <p>This page is under construction. Please check back later.</p>
        <br />
        <div>
          <img
            src="/projects/telegram.jpg"
            alt="internships-and-jobs-opportunities-in-bosc-telegram"
            class="w-[100%] md:w-[30%]"
          />
        </div>

        Join BOSC on <a
          href="https://t.me/+CjJuVncewyExMTNl"
          class="text-zinc-500 border border-lime"
          target="_blank">Telegram</a
        > for the latest updates on internships and opportunities for now.
      </div>
    </Container>
  </main>
</Layout>
