---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="BOSC - Timeline & History"
  description="BOSC's Official Website. Read IT Notes and Blogs. Get Jobs, Opportunities. Join Events and Mentorship Programs. Created by Open Source Enthusiasts from Nepal."
  image="https://bosc.org.np/team.jpg"
  url="https://bosc.org.np/timeline"
>
  <main class="space-y-20">
    <Container>
      <div>
        <h1>BOSC EVENTS TIMELINE</h1>
        <h2>
          use the events.json file to map the events and display them in a
          timeline. <br />
          Will incorporate 3 ideas at once: History of BOSC, All the events and All
          the Team/Alumni throughout the tenures in the timeline.
        </h2>
        <br />
        <h1>
          WE NEED YOUR HELP!!! <a
            class="text-zinc-900 border border-lime"
            href="https://github.com/b0sc/b0sc.github.io/issues/16"
            >Contribute here https://github.com/b0sc/b0sc.github.io/issues/16</a
          >
        </h1>
        <br />
        <h1>
          For now <a href="/blogs">See Events from Blogs</a>
        </h1>
        <p>This page is under construction. Please check back later.</p>
      </div>
    </Container>
  </main>
</Layout>
