---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="contact">
    <Topic
      title="Contact"
      description="NEWSLETTER Launched: Subscribe to get updates on our events and workshops."
    />
  </div>

  <div
    class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]"
  >
    <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
      <form action="#" class="space-y-8 md:w-full">
        <div>
          <strong>Feature your Blog</strong> -- <strong>
            Partner with us</strong
          > -- <strong> Or just say Hi</strong>.
          <br /> You can also mail us at <strong>mail@bosc.org.np</strong> directly.
        </div>
        <div>
          <label for="name" class="block mb-2 text-base font-medium text-black"
            >Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="shadow-sm bg-white border text-black text-base rounded-lg focus:ring-black focus:border-black block w-full p-2.5"
            placeholder="John Doe"
            required
          />
        </div>
        <div>
          <label for="email" class="block mb-2 text-base font-medium text-black"
            >Email</label
          >
          <div
            class="relative flex flex-col items-center justify-between md:flex-row bg-zinc-100 rounded-[45px]"
          >
            <input
              type="email"
              id="email"
              name="email"
              class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black"
              placeholder="john.doe@gmail.com"
              required
            />
            <button
              type="submit"
              class="px-4 py-3 m-2 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex"
            >
              <div class="text-center text-white text-xl font-normal leading-7">
                Subscribe
              </div>
            </button>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-base font-medium text-black dark:text-gray-400"
            >Message</label
          >
          <textarea
            id="message"
            rows="6"
            class="block p-2.5 w-full text-base text-black bg-white rounded-lg shadow-sm border focus:ring-black focus:border-black"
            placeholder="I really like what BOSC is doing! Keep it up."
          ></textarea>
        </div>
        <button
          type="submit"
          class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex"
        >
          <div class="text-center text-white text-xl font-normal leading-7">
            Send Message
          </div>
        </button>
      </form>
    </div>
    <div class="hidden md:grid md:justify-items-end md:w-4/12 md:py-2">
      <img src="./clients/contact.svg" alt="c" width="80%" />
    </div>
  </div>
</Container>
