---
import Container from "./Container.astro"
---

<Container>
  <div
    class="relative flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
      <div class="text-left space-y-3">
        <h1 class="text-5xl font-medium leading-none md:text-6xl">
          Open Sorcerers! <br /> from Nepal. <br />
        </h1>
        <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
          BOSC focuses on a range of activities including training sessions,
          workshops, and events to promote open source software and discuss its
          benefits, bringing together FOSS enthusiasts from all over Nepal.
        </p>
        <a
          class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
          rel="noopener noreferrer"
          href="/about"
        >
          <h2 class="text-center text-xl font-normal leading-7">About Us</h2>
        </a>
        <a
          class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
          rel="noopener noreferrer"
          href="https://forms.gle/awgxf5gVBgGbsney6"
        >
          <h2 class="text-center text-xl font-normal leading-7">Join Us</h2>
        </a>
      </div>
    </div>
    <div
      class="rounded-2xl flex items py-5 md:w-6/12 md:pb-20 md:pt-10 overflow-hidden"
    >
      <img
        class="rounded-xl transition-transform duration-300 ease-in-out scale-200 hover:scale-150"
        src="/cover.png"
        width="100%"
        alt="Hero"
      />
    </div>
  </div>

  <!-- 
replace clients logo with organizations we collaborated with: HOT, OSM, other clubs etc,
for more details contact content creator 
-->
  <div class="flex-row items-center">
    <div class="flex-row items-center mt-6">
      <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <!-- NOTE: Add proper classes to indicate svg vs raster logos.
             - svg logos -> class="client-logo svg-logo"
             - raster logos (png) -> class="client-logo raster-logo"
             This allows different dark-mode handling for each type.
        -->
        <div class="p-4 transition duration-200 hover:grayscale-0">
          <img
            src="/clients/hacktoberfest.svg"
            class="h-12 w-auto mx-auto client-logo svg-logo"
            loading="lazy"
            alt="Hacktoberfest logo"
          />
        </div>

        <div class="p-4 flex transition duration-200 hover:grayscale-0">
          <img
            src="/clients/dff_full_logo_blue_white.png"
            class="h-8 w-auto m-auto client-logo raster-logo"
            loading="lazy"
            alt="Digital Freedom Foundation logo"
          />
        </div>

        <div class="p-4 transition duration-200 hover:grayscale-0">
          <img
            src="/clients/bmc.png"
            class="h-12 w-auto mx-auto client-logo raster-logo"
            loading="lazy"
            alt="Birendra Multiple Campus logo"
          />
        </div>

        <div class="p-4 transition duration-200 hover:grayscale-0">
          <img
            src="/clients/hot.svg"
            class="h-12 w-auto mx-auto client-logo svg-logo"
            loading="lazy"
            alt="HOT logo"
          />
        </div>

        <div class="p-4 flex transition duration-200 hover:grayscale-0">
          <img
            src="/clients/osm.svg"
            class="h-9 w-auto m-auto client-logo svg-logo"
            loading="lazy"
            alt="OSM logo"
          />
        </div>

        <div class="p-4 transition duration-200 hover:grayscale-0">
          <img
            src="/clients/libre_community.png"
            class="h-12 w-auto mx-auto client-logo raster-logo"
            loading="lazy"
            alt="Libre Community logo"
          />
        </div>
      </div>
    </div>
  </div>
</Container>
