---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic
      title="OSS Projects"
      description="Explore Real-Life Examples of our deeds in the community through Our Case Studies"
    />
  </div>

  <div
    class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
    >
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          Guide To Practical Implementations of Theoritical CS Concepts. <br /> CSIT,
          BIT, BCA, BTech, CE, SE, CS... Contributions from All Over Nepal!
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime sm:text-xl font-normal leading-7">
            <a href="https://github.com/b0sc/college" target="_blank">
              github.com/b0sc/college
            </a>
          </div>
          <img class="hidden sm:block" src="/services/agc.svg" alt="arrow" />
        </div>
        <img src="/projects/college.png" alt="bubble-sort-gif" />
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          Provides a simple and intuitive way to create and simulate logic
          gates. <br /> Understanding the Basics of Digital Logic Circuits.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="sm:text-xl font-normal leading-7">
            Demo:
            <a
              class="text-lime font-normal leading-7"
              href="https://logicSim.bosc.org.np"
              target="_blank"
            >
              logicSim.bosc.org.np
            </a>
          </div>
          <img class="hidden sm:block" src="/services/agc.svg" alt="arrow" />
        </div>
        <img src="/projects/look.png" alt="bubble-sort-gif" />
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          A Race for Sorting Algorithms to see which one is the fastest. <br />
          Visualizing how each one solves with a real-time graph and animation.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime sm:text-xl font-normal leading-7">
            <a href="https://github.com/b0sc/sortRace" target="_blank">
              github.com/b0sc/sortRace
            </a>
          </div>
          <img class="hidden sm:block" src="/services/agc.svg" alt="arrow" />
        </div>
        <img src="/projects/bubble-new-sort.GIF" alt="bubble-sort-gif" />
      </div>
    </div>

    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
  </div>
</Container>
