---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic
      title="Testimonials"
      description="Hear from Our Partners we Collaboarted with: Read Our Testimonials to Learn More about Our Vision and Values"
    />
  </div>

  <div
    class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]"
  >
    <div
      class="justify-items-center relative w-full border border-lime rounded-3xl"
    >
      <div class="p-4 md:p-10">
        <p
          class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "We have been working with BOSC for the Git and GitHub event and have
          seen a significant success with our strategy and event choices as a
          result of their efforts. The team is professional, responsive, and
          truly cares about the success of community. We highly recommend BOSC
          to any communities looking to collaborate and give in the community."
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
          >Diwas Subba<br /></span
        ><span class="text-white text-lg font-normal"
          >President at Another Club</span
        >
      </div>
    </div>
  </div>
</Container>
