---

---

<div>
  <h1>BOSC EVENTS TIMELINE</h1>
  <h2>
    use the events.json file to map the events and display them in a timeline. <br
    />
    Will incorporate 2 ideas at once: History of BOSC and All the events throughout
    the tenures in the timeline.
  </h2>
  <br />
  <h1>
    WE NEED YOUR HELP!!! <a
      class="text-zinc-900 border border-lime"
      href="https://github.com/b0sc/b0sc.github.io/issues/16"
      >Contribute here https://github.com/b0sc/b0sc.github.io/issues/16</a
    >
  </h1>
  <br />
  <h1>
    For now <a href="/blogs">See Events from Blogs</a>
  </h1>
  <p>This page is under construction. Please check back later.</p>
</div>
