---
import Container from "./Container.astro"
import PartnerEvents from "./TopEvent/PartnerEvents.astro"
import UpcomingEvent from "./TopEvent/UpcomingEvent.astro"
import Top3 from "./TopEvent/Top3.astro"
---

<Container>
  <div
    class="flex-row items-center my-6 p-6 bg-zinc-100 rounded-[45px]"
    id="topevents"
  >
    <UpcomingEvent />
    <PartnerEvents />
    <Top3 />
    <!-- <div class="w-full justify-center items-center inline-flex">
      <a
        class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
        rel="noopener noreferrer"
        href="/blogs#history"
      >
        <h2 class="text-center text-xl font-normal leading-7">View Timeline</h2>
      </a>
    </div> -->
  </div>
</Container>
