---
import Container from "./Container.astro"
import PartnerEvents from "./TopEvent/PartnerEvents.astro"
import UpcomingEvent from "./TopEvent/UpcomingEvent.astro"
import Top3 from "./Top3.astro"
---

<Container>
  <div
    class="flex-row items-center my-6 p-6 bg-zinc-100 rounded-[45px]"
    id="topevents"
  >
    <UpcomingEvent />
    <PartnerEvents />
    <Top3 />
  </div>
</Container>
