---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import ExploreNav from "../../components/ExploreNav.astro";
import Timeline from "../../components/Timeline.astro";

export const prerender = true;
---

<Layout
  title="BOSC - History & Timeline"
  description="Explore the history and key milestones of the Birendra Open Source Club."
>
  <main class="pt-7 pb-16">
    <Container>
      <div class="flex flex-col md:flex-row">
        <ExploreNav />

        <div class="flex-1 p-4">
          <div id="history-content">
            <h2
              class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-[var(--text-color)] text-center"
            >
              History | Timeline
            </h2>
            <Timeline />
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>