---
// src/pages/blogs/events.astro
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import BlogNav from "../../components/BlogNav.astro"; // <-- Import the nav
import eventsData from "../../components/Data/events.json";
import EventCard from "../../components/Cards/EventCard.astro";

export const prerender = true;
---
<Layout title="BOSC - Events" description="Events and workshops hosted by the Birendra Open Source Club.">
  <main>
    <Container>
      <div class="flex flex-col md:flex-row">
        
        <BlogNav />

        <div class="flex-1 p-4">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 text-center">
            Events
          </h2>
          <p class="mb-4 font-light text-gray-500 sm:text-xl text-center">
            Since 2021, BOSC has sucessfully conducted
            <strong> {eventsData.length}</strong> events and workshops.
          </p>
          <div class="grid gap-8 lg:grid-cols-2 mt-12">
            <EventCard eventsData={eventsData} />
          </div>
        </div>

      </div>
    </Container>
  </main>
</Layout>