---
import Container from "../../components/Container.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout
  title="Events from BOSC!"
  description="BOSC's Official Website. Read IT Notes and Blogs. Get Jobs, Opportunities. Join Events and Mentorship Programs. Created by Open Source Enthusiasts from Nepal."
  image="https://bosc.org.np/team.jpg"
  url="https://bosc.org.np/about"
>
  <main class="space-y-20">
    <Container>
      <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="events_hero"
      >
        <h1>This is events page</h1>
      </div>
    </Container>
  </main>
</Layout>
