---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>BOSC</title>
    <meta property="og:title" content="Birendra Open Source Club" />
    <meta
      property="og:description"
      content="Official Website of Birendra Open Source Club. A landing page design created specifically for open source enthusiasts built with astro and tailwindcss"
    />
    <meta property="og:image" content="https://bosc.org.np/team.jpg" />
    <meta property="og:url" content="https://bosc.org.np" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions /><link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body class="bg-white font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer /><script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
      is:inline></script>
  </body>
</html>
